csrfAuthKey: "replace_with_random_32_byte_hex"
jwtSigningSecret: "replace_with_random_64_byte_hex"
database:
  password: "change_me"
email:
  smtp:
    password: "change_me"
etherscanAPIKey: "your_api_key_here"